.header__container {
	background-color: transparent;
	padding: 14px 24px;
	z-index: 10;
	font-family: "BRSonoma", sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__text {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.header__text--text {
	font-size: 12px;
	font-weight: 600;
	line-height: 16px;
	color: var(--third);
	display: none;
}

.header__text--phone {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}

@media (min-width: 768px) {
	.header__text--text {
		display: block;
	}

	.header__container {
		display: flex;
		justify-content: center;
	}
}
