.layout__container {
	display: grid;
	min-height: 100vh;
	grid-template-rows: 64px 1fr 152px;
	width: 100%;
	position: relative;
}

@media (min-width: 768px) {
	.layout__container {
		grid-template-rows: 64px 1fr 106px;
	}
}
