@font-face {
	font-family: "BRSonoma";
	src: url("./assets/fonts/BRSonoma/BRSonoma-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "BRSonoma";
	src: url("./assets/fonts/BRSonoma/BRSonoma-SemiBold.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "BRSonoma";
	src: url("./assets/fonts/BRSonoma/BRSonoma-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "BRSonoma";
	src: url("./assets/fonts/BRSonoma/BRSonoma-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

/* LATO */

@font-face {
	font-family: "Lato";
	src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("./assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("./assets/fonts/Lato/Lato-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #ff1c44;
	--secondary: #4f4fff;
	--secondary-ligth: #7981b2;
	--third: #03050f;
	--text: #141938;
}

.container__layout {
	max-width: 1176px;
	width: 100%;
}
